button.lg, a.lg {
  background-color: var(--lg-button);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0;
  min-width: 2rem;
  min-height: 2rem;
  font-family: Poppins;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
button.lg:hover {
  cursor: pointer;
  background-color: var(--lg-button-hover);
}
button.lg:active {
  cursor: pointer;
  background-color: var(--lg-button-active);
}
button.lg:disabled {
  cursor: not-allowed;
  background-color: var(--lg-button-disabled);
  color: var(--lg-text-disabled);
}
button.lg.menu-expanded {
  background-color: var(--lg-button-menu-expanded);
}

button.lg.dark, a.lg.dark {
  position: relative;
  background: var(--lg-primary);
  border: 1px solid var(--lg-accent);
  padding: 0.5rem;
  min-width: 2.875rem;
  min-height: 2.875rem;
  overflow: hidden;

  .link-icon {
    position: absolute;
    top: -0.55rem;
    right: -0.55rem;
    transform: rotate(-45deg);
  }
}
button.lg.dark:hover, a.lg.dark:hover {
  background-color: var(--lg-button-active);
}

button.lg.icon-button {
  background-color: transparent;
}
button.lg.icon-button:hover {
  background-color: transparent;
  filter: brightness(80%);
}
button.lg.icon-button:active {
  background-color: transparent;
  filter: brightness(60%);
}
button.lg.icon-button:disabled {
  filter: brightness(40%);
  pointer-events: none;
}