input {
  background: transparent;
  background: var(--lg-input);
  border: 1px solid var(--lg-accent);
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: var(--lg-text);
  min-height: 1.5rem;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='checkbox'] {
  accent-color: var(--lg-contrast);
  width: 1rem;
}

@media screen and (max-width: 767px) {
  input[type='checkbox'] {
    accent-color: var(--lg-contrast);
    width: 1.375rem;
  }
}
