// ------------------------------------------------------------------------------------------------
// standard link

a {
  background: var(--lg-button);
  border: none;
  border-radius: 2px;
  color: var(--lg-text);
  padding: 0;
  min-width: 2rem;
  min-height: 2rem;
  font-family: Poppins;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  iconify-icon {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
    background: var(--lg-button-hover);
  }
  &:active {
    cursor: pointer;
    background: var(--lg-button-active);
  }
  &:disabled {
    cursor: not-allowed;
    background: var(--lg-button-disabled);
    color: var(--lg-text-disabled);
  }
}

// ------------------------------------------------------------------------------------------------
// button link

a.router-link {
  background: none;
  display: initial;
  min-height: unset;
  min-width: unset;
}
a.lgv {
  color: var(--lg-link);
}
a.lgv:visited {
  color: var(--lg-link-visited);
}

// ------------------------------------------------------------------------------------------------
// button link

a.button-link {
  color: var(--lg-text);
}