h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Poppins;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
h3 { font-size: 1.125rem; }

sup {
  font-family: monospace;
}

a:not(.dark) {
  color: var(--lg-link);
}
a:not(.dark):visited {
  color: var(--lg-link-visited);
}

.highlight {
  font-weight: 600;
}
.nowrap {
  text-wrap: nowrap;
}