div.floating {
  $corner-length: 8px;
  position: absolute;
  visibility: hidden; // will be overridden
  background: var(--lg-panel);
  border: 1px solid var(--lg-accent);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  clip-path: polygon(
    0 $corner-length,
    $corner-length 0,
    100% 0,
    100% calc(100% - $corner-length),
    calc(100% - $corner-length) 100%,
    0 100%
  );

  .floating-content {
    display: flex;
    align-items: center;
    gap: 1rem;

    label {
      font-size: 0.875rem;
      font-weight: 300;
    }
    input {
      flex-grow: 1;
    }
  }

  .floating-actions {
    display: flex;
    gap: 0.5rem;
    width: 100%;

    & > button {
      flex: 1 1 auto;
      text-align: center;
    }
  }

  & > button.lgv,
  & > button.lgv[variant='dark'],
  & > button.lgv[variant='icon'] {
    width: 100%;
    border: none;
    padding: 0 0.5rem;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1023px) {
  .floating {
    .floating-content {
      input {
        height: 2rem;
        font-size: 1rem;
      }
    }

    button {
      height: 2.5rem;
    }
    button.dark {
      font-size: 1rem;
      height: 2.5rem;
    }
  }
}
