:root {
  --lg-text: #f7f7f7;
  --lg-text-disabled: #b6b6b6;
  --lg-primary: #060b0f;
  --lg-panel: #050a0e;
  --lg-accent: #263238;
  --lg-input: #171c22;
  --lg-input-focus: #222830;
  --lg-overlay: #2f333e44;
  --lg-contrast: #427773;
  --lg-contrast-focus: #64a19c;

  --lg-button: #37474e;
  --lg-button-hover: #2d3b41;
  --lg-button-active: var(--lg-accent);
  --lg-button-disabled: #535353;
  --lg-button-menu-expanded: var(--lg-contrast);

  --lg-link: var(--lg-contrast-focus);
  --lg-link-visited: var(--lg-contrast-focus);

  --lg-warn: #b63f1a;
  --lg-warn-hover: #a53614;
  --lg-warn-active: #912a0b;
}
:root[data-theme='supernova'] {
  --lg-primary: #07060f;
  --lg-panel: #0a050e;
  --lg-accent: #2b2638;
  --lg-input: #1d1722;
  --lg-input-focus: #272230;
  --lg-overlay: #2f333e44;
  --lg-contrast: #427758;
  --lg-contrast-focus: #64a17d;

  --lg-button: #3f374e;
  --lg-button-hover: #352d41;
  --lg-button-active: var(--lg-accent);
  --lg-button-disabled: #3b3b3b;
  --lg-button-menu-expanded: var(--lg-contrast);

  --lg-link: var(--lg-contrast-focus);
  --lg-link-visited: var(--lg-contrast-focus);

  --lg-warn: #b61a4e;
  --lg-warn-hover: #a5144c;
  --lg-warn-active: #910b43;
}
:root[data-theme='voyager'] {
  --lg-primary: #000000;
  --lg-panel: #0f0b05;
  --lg-accent: #3b2d17;
  --lg-input: #180f06;
  --lg-input-focus: #2c2415;
  --lg-overlay: #3e392f44;
  --lg-contrast: #86672c;
  --lg-contrast-focus: #b9913a;

  --lg-button: #4e3c1a;
  --lg-button-hover: #463413;
  --lg-button-active: var(--lg-accent);
  --lg-button-disabled: #313131;
  --lg-button-menu-expanded: var(--lg-contrast);

  --lg-link: var(--lg-contrast-focus);
  --lg-link-visited: var(--lg-contrast-focus);

  --lg-warn: #b82222;
  --lg-warn-hover: #a51414;
  --lg-warn-active: #910b0b;
}
:root[data-font='monospace'] {
  body * { font-family: Jetbrains Mono, monospace; }
}

.lg.warn {
  background: var(--lg-warn);
  background-color: var(--lg-warn);
}
.lg.warn:not(:disabled):hover {
  background: var(--lg-warn-hover);
  background-color: var(--lg-warn-hover);
}
.lg.warn:not(:disabled):active {
  background: var(--lg-warn-active);
  background-color: var(--lg-warn-active);
}